html( xmlns="http://www.w3.org/1999/xhtml", xmlns:th="http://www.thymeleaf.org")
    head
        include m-head
        +head( 'Videos 18+' )
    body.lbody( th:if="${isWebRequest} == false" )
        .wrapper
            include m-header
            +header()
            form.wrapper__form( method="POST", action="/landing", th:attr="action=@{order.html(sessionId=${session_id})}", name="mainFrm" )
                input( type="hidden", name="requestId", th:value="${requestId}" )
                input( type="hidden", name="msisdn", th:value="${msisdn}" )
                input( type="hidden", name="repeatCode", value="false" )
                div( th:replace="fragment/errors" )
                include m-button
                +button( 'Смотреть', '+' )
                span.button__price( th:if="${cpaSubscriptionChargePeriodPriceCodePrice > 0}", th:text="'Доступ: ' + ${cpaSubscriptionChargePeriodPriceCodePrice} + ' руб.' + ' за ' + ${cpaSubscriptionChargePeriodStr}" ) Доступ: 20 руб. за 1 день
                button.button__cancel Отмена
            include footer

