mixin button( text, icon, topText )
    case topText
        when topText
            p.button__extra #{topText}
            button#wapSubmitBtn.button__buy( type="submit", th:classappend="${!isWebRequest} ? 'wap'", th:if="${useSmsLink == null || useSmsLink == 'false'}" )
                case icon
                    when '+'
                        span( th:switch="${evalRequestType}" )
                            span( th:case="'subscription-request'" )
                                span.button__text #{ text }
                        span.button__icon
                    when '-'
                        span( th:switch="${evalRequestType}" )
                            span( th:case="'subscription-request'" )
                                span #{ text }
        default
            button#wapSubmitBtn.button__buy( type="submit", th:classappend="${!isWebRequest} ? 'wap'", th:if="${useSmsLink == null || useSmsLink == 'false'}" )
                case icon
                    when '+'
                        span( th:switch="${evalRequestType}" )
                            span( th:case="'subscription-request'" )
                                span.button__text #{ text }
                        span.button__icon
                    when '-'
                        span( th:switch="${evalRequestType}" )
                            span( th:case="'subscription-request'" )
                                span #{ text }

